body {
    background-color: black;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: rgb(35, 241, 145);
}

section {
    color:  rgb(35, 241, 145);
    background-color: black;
    width: 500pt;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 5px 5px 10px rgba(106, 227, 145, 0.486);
    text-align: center;

}

div#pergunta{
    display: flex;
}

input{
    color: rgb(35, 241, 145);
    border-width: 1px;
    border-color:rgb(35, 241, 145);
    background: #000;
    border-radius: 5px;
    font-weight: bold;
}

input#txtNumero{
    text-align: center;
    font-size:x-large;
    width: 300pt;
    height: 17pt;
}

input#btn{
    font-size:medium;
    height: 20pt;
    width: 110pt;
}

#btn:hover{
    color: #000;
    border-color:#000;
    background: rgb(35, 241, 145);
}

select{
    font-size:large;
    background: #000;
    color:rgb(35, 241, 145);
    border: #000;
}

footer {
    color:rgb(35, 241, 145);
    font-style: italic;
}

div {
    padding: 9px;
}